.searchContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px auto;
    flex-direction: column;
}

.searchContainer form input[type="text"] {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #6f748a;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

input::placeholder {
    color: #ccc;
    font-weight: 100;
    font-size: 1rem;
    opacity: .7;
}

.searchContainer form button {
    padding: 5px 10px;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    opacity: .8;
    transition: .2s ease;
    background-color: #ccc;
}

.searchContainer button:hover {
    opacity: 1;
}

.container {
    max-width: 400px;
    margin: auto;
    border-radius: 14px;
    padding: 5px 10px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(to left, #363E6D, #3B4674);
}

.cityAndImage {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cityAndImage img {
    width: 50%;
    max-width: 350px;
}

.cityAndImage h2 {
    font-size: 2rem;
}

.weather-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    text-align: center;
}

.grade-info {
    display: flex;
    flex-direction: column;
}

.grade-info h2 {
    font-size: 2rem;
    font-weight: 800;
}

.grade-info strong {
    font-size: 1.1rem;
    font-weight: 700;
}

.containerGridMoreInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.grid-item {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: .3s ease-in-out;
}

.grid-item:hover {
    scale: 1.05;
}

.grid-item p {
    color: #b6bae3;
    font-size: 1.05rem;
}

.grid-item strong {
    font-weight: 600;
    font-size: 1.05rem;
}

/*Error container*/
.not-found {
    max-width: 400px;
    margin: auto;
    border-radius: 14px;
    padding: 5px 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to left, #363E6D, #3B4674);
}

.not-found img {
    width: 60%;
    max-width: 350px;
}

.containerError strong {
    font-weight: 500;
    font-size: 1.5rem;
}